body{
  margin: 0;
  transition: ease 2s;
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 1;
}

.global_wrapper{
  background: rgba(118, 177, 219, 1);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper_form{
  width: 300px;
  height: 400px;
  text-align: center;
  margin: auto;
  max-width: 460px;
  margin: 3rem auto;
  padding: 3rem;
  border-radius: .25rem;
  background:rgba(193, 222, 243, 0.9);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.label {
  font-weight: bold;
  font-family: monospace;
  display: block;
  color: #333;
  margin-bottom: .25rem;
  color: #2d3748;
}

input {
  appearance: none;
  display: block;
  width: 92%;
  color: #2d3748;
  border: 1px solid #cbd5e0;
  line-height: 1.25;
  background-color: white;
  margin-bottom: 20px;
  padding: .65rem .75rem;
  border-radius: 7px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

input::placeholder {
  color: #a0aec0;
}

input.input-error {
  border: 1px solid red;
}

input:focus {
  border: 1px solid red;
}

input:focus {
  outline: none;
  border: 1px solid #a0aec0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-clip: padding-box;
}

.button {
  background-color: dodgerblue;
  padding: 1rem 2rem;
  border: none;
  border-radius: .25rem;
  color: white;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  
}

button:hover {
  filter: brightness(110%);
}

#first_form{
}

.second_form{
  display: none;
}

.active{
  display: block;
}
/* 
.header{
  display: flex;
  width: 325px;
  height: 75px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  justify-content: space-between;
  background: rgba(150, 174, 202, 0.8);
  border-radius: 50px;
  margin-bottom: 70px;
}

.form_input._error{
  box-shadow: 0 0 15px red;
}

.logo{
  padding-left: 10px;
}

h1{
  font-family: Poppins;
  font-size: 52px;
  margin: 0;
  color: rgb(122 228 182);
  padding-right: 30px;
  align-self: end;
  text-shadow: -5px 5px 0px #07b4b4, -10px 10px 0px #08aaaa, -15px 15px 0px #1facad;
}

.form_button:disabled{
  background: rgb(112 97 125 / 14%);
  pointer-events: none;
}

.form{
  display: none;
  transform: scale(0);
  width: 530px;
  margin: auto;
  padding: 60px 60px 30px 60px;
  position: relative;
  background: rgba(150, 174, 202, 0.8);
  border-radius: 50px;
  box-shadow: -5px 5px 0px 0px #289fed, -10px 10px 0px 0px #5fb8ff, -15px 15px 0px 0px #a1d8ff, -20px 20px 0px 0px #cae6ff, -25px 25px 0px 0px #e1eeff, -50px 0px 15px 33px rgb(0 0 0 / 0%);
}

#second_form{
  padding-top: 100px;
}

.form_label{
  margin-right: 5px;
  color: #c1e7e7;
  padding-bottom: 10px;
  font-family: Poppins;
  display: block;
}

.form_input{
  margin: 0px 26px 33px 0px;
  border: none;
  outline: none;
  border-bottom: rgb(142 146 172) 1px solid;
  background-color: rgba(0, 0, 0, 0);
  width: 251px;
}

.age_input{
  align-items: center;
}

.container{
  display: flex;
}

.age_label{
  width: 200px;
  text-align: center;
}

.age{
  margin-left: 168px;
  width: 230px;
}

.age_input{
  width: 200px;
  margin-bottom: 5px;
}

input[type='range'] {
  width: 200px;
  height: 3px;
  border-radius: 30px;
  -webkit-appearance: none;
  background-color: #698197;
  top: -2px;
  left: -2px;
}

input[type='range']::-webkit-slider-thumb {
  width: 10px;
  border-radius: 50px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: rgb(142 146 172);
}

#one{
  padding: 0px 37px 40px 0px;
  margin: auto;
  width: 10px;
  font-family: Poppins;
  color: #c1e7e7;
}

.form_button{
  display: block;
  margin: auto;
  background: rgb(142 146 172);
  outline: none;
  border: none;
  padding: 11px;
  border-radius: 50px;
  width: 85px;
  color:#c1e7e7;
  /* transition: ease 0.3s; */
/* }

.active{
  display: block;
  transform: scale(1);
}

.form_button:hover{
  box-shadow: 0px -1px 23px 6px rgb(112 97 125 / 64%);
  transition: ease 0.3s;
}

.form_button:active{
  background: rgb(112 97 125 / 64%);
  transition: linear 0.1s;
} */ 
